{
	"accounts": [
		{
			"email": "",
			"password": ""
		},
		{
			"email": "",
			"password": ""
		},
		{
			"email": "",
			"password": ""
		},
		{
			"email": "",
			"password": ""
		},
		{
			"email": "",
			"password": ""
		},
		{
			"email": "",
			"password": ""
		}
	],
	"prompt": "A cool realistic sunset, photorealistic, digital art.",
	"collection": "",
	"downloadImages": false
}